{% extends 'base.html' %}
{% block title %}Add Note{% endblock %}
{% block content %}

{% if error %}
<h1>{{ error }}</h1>
{% endif %}


{% if form %}
  {% if user.is_authenticated %}
    <h2>Add Note</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" onclick="this.form.submit(); this.disabled=true; this.value='Sending…'">Submit</button>
    </form>
    {% else %}
   <h2>You need login to add note</h2>
   <div class="info warning">
     <a href="{% url 'login' %}">Login</a>
     <a>or</a>
     <a>to add submit word</a>
   </div>
  {% endif %}
{% endif %}
{% endblock %}
